<% provide(:title, "Home") %>

<div class="row text-center justify-content-center mb-5">
  <div class="col">
    <class="display-3 mt-3" id="homesubtitle">プレゼントで大切な人との愛を深める
    <h1 class="display-3 mt-3 logo" id="hometitle">loveep</h1>
  </div>
</div>