<% provide(:title, "Posts") %>
<div class="main posts-index">
    投稿一覧
    <div class="container">
        <% if @posts.present? %>
            <% @posts.each do |post| %>
                <div class="posts-index-item">
                    <%= post.content %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<!-- app/asetts/images配下に/post_images/を作成。投稿の写真を保存する。 -->

<div class="main posts-index">
    <div class="container">
        <% if @posts.present? %>
            <% @posts.each do |post| %>
                <div class="posts-index-item">
                    <div class="post-above">
                        <%= image_tag post.image_name.url %>
                    </div>
                    <div class="post-under">
                        <%= link_to(post.content, user_post_path(@user, post)) %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>