<% provide(:title, "Posts") %>

<!-- app/asetts/images配下に/post_images/を作成。投稿の写真を保存する。 -->

<div class="main posts-index">
    投稿一覧
    <div class="container">
        <% @posts.each do |post| %>
            <div class="posts-index-item">
                <div class="post-above">
                <!-- 複数画像の1枚目をサムネイルとして表示 -->
                    <%= image_tag(post.image_names.first) if post.image_names.attached? %>
                </div>
                <div class="post-under">
                    <%= link_to(post.content, "#") %>
                </div>
            </div>
        <% end %>
    </div>
</div>